#title {
    font-family: fantasy;

}

h1 {
    font-family: brush script mt, cursive;
}

.sweet {
    font-family: fantasy;
    color: chocolate;
}

.bread {
    font-family: fantasy;
    color: bisque;
}

.fondue {
    font-family: fantasy;
    color: orange;
}